body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e2d9d9;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #222;
  margin-top: 100px;
  text-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

form {
  display: inline-block;
  margin-top: 50px;
}

label {
  font-size: 30px;
  color: #222;
  text-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input[type="text"] {
  padding: 15px;
  border-radius: 25px;
  border: none;
  margin: 20px;
  font-size: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

button[type="submit"] {
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  background-color: #535a87;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}