
/*make background colour */
body {
    background-color: #677b9244;
    /*make background colour gradient */
    background-image: linear-gradient(315deg, #efe6ea 30%, #9aa5b4 74%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#intro {
    font-family: sans-serif;
    color: rgb(59, 59, 100);
text-align: center;
margin: 30px 0px -40px 0px;

}
#select{
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    border: 1px solid rgb(48, 89, 159);
    /*make the border sides come closer to the text*/
    padding: 0px 5px;
}
		#title {
			font-family: sans-serif;
			text-align: center;
            color: rgb(48, 89, 159);
		}
		h1 {
			font-size: 28px;
			margin-bottom: 30px;
            margin-top: 10px;
            background-color: #d7dae76c;

            text-shadow: 0 2px 5px rgba(0,0,0,0.2);         
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            
            
            
		}
		button {
           
            width: 220px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            color: rgb(56, 73, 102);
			font-size: 20px;
			padding: 10px 10px;
			margin: 3px;
			border: none;
			border-radius: 5px;
			background-color: #afb6c4;
			cursor: pointer;
            border: none;
            justify-content: center;
            /*make a black line around the border*/
            border: 1px solid rgb(48, 89, 159);
		}
        .pics:hover {
            transform: scale(1.1);
            transition: 0.1s;
            /*border transparent 1px;*/
            

          }

        button:active {
            background-color: red;
          }
		
		#result {
			font-size: 32px;
			margin-top: 10px;
		}
	
        main  {
        text-align: center;
        }

        .pics {
           width: 200px;
             height: 190px;
             margin-bottom: 10px;
        }
      
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;
            
        }

        #result {
            text-align: center;
            margin: 0px 0px 20px 0px;
            font-family: sans-serif;

        }

        #compy{

            text-align: center;
            margin: 0px 0px 10px 0px;
            font-family: sans-serif;
            font-size: 25px;
            margin-bottom: 40px;
            margin-top: 30px;
        }
        
      
        #score{
            text-align: center;
            font-family: sans-serif;
            font-size: 10px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
           background-color: #bfc4d3de;
            justify-content: space-between;
           /*make each line of text move away from the edge of the background colour box by 5 px*/
              padding: 0px 5px;

        
        }


        #result-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #bfc4d3de;
            /*make each line of text move away from the edge of the background colour box by 5 px*/
            padding: 0px 5px;
            /*make a black line around the border*/
            border: 1px solid rgb(48, 89, 159);
            /*make the border sides come closer to the text*/
            padding: 0px 5px;
        }

        #battle {
            text-align: center;
            margin: 0px 0px 10px 0px;
            font-family: sans-serif;
            font-size: 25px;
            margin-bottom: 50px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

        }